@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    background-image: url("../Image/image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card-container {
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    background-color: rgba(6, 104, 139, 0.3);
    border-radius: 15px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 2px solid rgba(49, 172, 209, 0.5);
}